*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #ce792acc;
}



a{
    margin: 10px;
    text-decoration: none;
    color: rgb(74, 72, 72);
    transition: 0.5s;
    color: white !important;
}

a:hover{
    color: orange !important;
}

li{
    list-style: none;
}

main{
    background-image: url("../images/pexels-mnzoutfits-1598505.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 670px;
}

section{
    background-color: rgb(221, 220, 220);
}

.m{
    transition: 0.5s;
}
.m:hover{
    box-shadow: 0 0 8px orange;
    transform: scale(1.1);
}

g{
    position: relative;
}

.card-body{
    border-radius: 10px;
}



i{
    color: orange;
}

.btn{
    width: fit-content;
    height: 45px;
    margin-left: 30px;
    border-radius: 10px;
    text-align: center;

}


.r{
    align-items: center;
    justify-content: center;
}


.btng{
    background-color: orange;
    transition: 0.5s;
}
.btng:hover{


    transform: scale(1.1);
   
}

.hh{
    color: white;
    font-size: 22px;
    margin-left: 0;
    transition: 0.5s;
}


.hh:hover{
    color: orange;
}

.card {
    overflow: hidden;
    position: relative;
  }

  .card-body {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }

  .card:hover .card-body {
    max-height: 200px; 
    opacity: 1;
  }



  nav {
    background-color: #1F2833; 
    color: #ffffff;
}
nav a {
    color: #ffffff !important;

        transition: color 0.3s ease;
    
}
nav a:hover {
    color: #FFC107 !important; 
}




.hero-wrapper {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)),
                url('../images/hero-bg.jpg') center/cover no-repeat;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ts h1, .ts h5, .ts p {
    color: #fff;
}
